@import "tailwindcss";

:root {

  --background: #F9FAFB;

  --foreground: #111827;

  --primary: #FF5A1F;

  --secondary: #0F172A;

  --accent: #FACC15;

  --success: #22C55E;

}

html {

  height: 100%;

}

body {

  min-height: 100%;

  background: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

}

* {

  box-sizing: border-box;

}